@font-face {
    font-family: 'Timeline';
    src: url(Timeline.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

h1 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 10vh;
    backdrop-filter: blur(5px);
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.5);
    font-family: 'Timeline';
}

body {
    display: grid;
    place-items: center;
    height: 100vh;
    background-color: #f0f0f0;
}

.container {
    display: flex;
    flex-direction: row;
    background-color: white;
    padding: 50px;
    transform: translateY(10vh);
}

.parallel {
    display: flex;
    flex-direction: column;
}

/* positionnement des lignes verticales */
.vertical {
    position: absolute;
    width: 1px;
    background-color: black;
    /* margin-left géré avec js */
    margin-right: auto;
}

.text {
    position: absolute;
    white-space: nowrap;
    overflow: hidden;
    text-align: center;
}


/* PARAMETERS */
.parameters {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: flex-start;
    padding: 20px;
    background-color: transparent;
    z-index: 0;
}

.new {
    padding: 10px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.parameter {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;

    & > input {
        width: 50%;
        padding: 5px;
    }
}

.parall-create {
    padding: 10px 20px;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    background-color: rgb(254, 27, 32);
}

.open-new {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    left: 0;
    border: 1px solid black;
    border-radius: 0 5px 0 0;
    padding: 5px;
    cursor: pointer;
}

.close-new {
    position: absolute;
    top: 20px;
    left: 20px;
    cursor: pointer;
    border: 1px solid black;
}
